/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/sandbox/db/*.sqlite3
/sandbox/db/*.sqlite3-*
/sandbox/log/*
/sandbox/storage/
/sandbox/tmp/
.byebug_history
.idea/*
.vscode/*
*.DS_Store*

# Node dependencies
node_modules
app/assets/__*
/yarn-error.log
