/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*
/spec/dummy/storage/
/spec/dummy/tmp/
.byebug_history
.idea/*
.vscode/*
*.DS_Store*

# Node dependencies
node_modules
