@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Do not purge */
@layer base {
  :root {
    --color-bg-primary: 249, 250, 251;
    --color-bg-secondary: 229, 231, 235;
    --color-bg-tertiary: 209, 213, 219;
    --color-bg-inverted: 17, 24, 39;
    --color-bg-muted: 17, 24, 39;

    --color-text-primary: 31, 41, 55;
    --color-text-secondary: 75, 85, 99;
    --color-text-tertiary: 229, 231, 235;
    --color-text-inverted: 249, 250, 251;

    --color-border-primary: 31, 41, 55;
    --color-border-secondary: 249, 250, 251;
    --color-border-tertiary: 229, 231, 235;

    --color-button-accent: 255,255,255;
    --color-button-accent-hover: 238,242,255;
    --color-button-muted: 99,102,241;
  }

  .dark {
    --color-bg-primary: 17, 24, 39;
    --color-bg-secondary: 31, 41, 55;
    --color-bg-tertiary: 55, 65, 81;
    --color-bg-inverted: 249, 250, 251;
    --color-bg-muted: 249, 250, 251;

    --color-text-primary: 249, 250, 251;
    --color-text-secondary: 75, 85, 99;
    --color-text-tertiary: 95, 85, 99;
    --color-text-inverted: 17, 24, 39;

    --color-border-primary: 229, 231, 235;
    --color-border-secondary: 156, 163, 175;
    --color-border-tertiary: 55, 65, 81;

    --color-button-accent: 255,255,255;
    --color-button-accent-hover: 254,242,242;
    --color-button-muted: 239,68,68;
  }

  .input-base {
    @apply px-3 py-2 w-full;
    @apply appearance-none rounded-md text-secondary;
    @apply focus:outline-none;
    @apply transition duration-500;
    @apply disabled:bg-muted;
  }

  .label-base {
    @apply block mb-2;
    @apply text-primary text-sm font-bold;
  }

  .devise-button-base {
    @apply block;
    @apply hover:opacity-95;
    @apply px-3 py-2 w-full;
    @apply border rounded;
  }

  .devise-link-base {
    @apply my-1 block;
  }

  .tooltip {
    @apply relative py-1 rounded-sm w-7 h-5 inline-block;

    .tooltip-text {
      @apply absolute;
      @apply text-center text-white font-mono text-sm;
      @apply p-1 right-0 rounded-l rounded-tr;
      visibility: hidden;
      bottom: 90%;
      margin-left: -60px;
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover {
      .tooltip-text {
        visibility: visible;
      }
    }
  }

  .prose {
    strong, blockquote, ul, ol, code {
      color: inherit !important;
    }
  }

  trix-toolbar {
    @apply bg-tertiary;
    @apply py-2 px-2 rounded-sm rounded-b-none;
  }
}

@import "components/trix/editor";
@import "components/trix/content";
@import "components/trix/clipboard";
@import "components/player";
@import "components/bookmarks";
@import "components/pagy";
