<% if !is_logged_in? %>
  <%= render 'poly/comments/form', commentable: commentable %>
<% else %>
  <p class="text-secondary">
    Join the conversation by <%= link_to 'signing in', sign_in_path, class: "text-blue-600" %>.
  </p>
<% end %>
