.trix-content {
  figure {
    &.attachment.attachment--file {
      @apply py-2 w-full border-none;
    }
  }

  .tooltip {
    @apply relative py-1 rounded-sm w-7 h-5 inline-block;

    .tooltip-text {
      @apply absolute;
      @apply text-center font-mono text-sm;
      @apply p-1 right-0 rounded-l rounded-tr;
      visibility: hidden;
      bottom: 90%;
      margin-left: -60px;
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    &:hover {
      .tooltip-text {
        visibility: visible;
      }
    }
  }
}