<div class="<%= theme %> border border-primary bg-primary relative p-5 rounded-lg shadow-md">
  <div class="flex justify-between text-xs pb-3" style="font-size: 0.59rem">
    <p class="text-primary uppercase font-semibold">34 days ago</p>
    <div class="flex items-center space-x-1.5 text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-collection-play" viewBox="0 0 16 16">
        <path d="M2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1zm2.765 5.576A.5.5 0 0 0 6 7v5a.5.5 0 0 0 .765.424l4-2.5a.5.5 0 0 0 0-.848l-4-2.5z"/>
        <path d="M1.5 14.5A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zm13-1a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-.5-.5h-13A.5.5 0 0 0 1 6v7a.5.5 0 0 0 .5.5h13z"/>
      </svg>
      <a href="#" class="bg-secondary uppercase rounded-sm px-1 font-bold">John Doe</a>
    </div>
  </div>

  <a href="#" class="text-primary mt-2 block pb-4 font-bold text-2xl md:truncate capitalize">Cities of the future: Part 1</a>

  <p class="text-primary text-sm pb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem iste odio quam ratione rem, saepe.</p>

  <div class="text-secondary flex flex-row space-x-0.5 items-center absolute bottom-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
    </svg>
    <span class="text-sm font-semibold">This content is private</span>
  </div>
</div>